\#*\#
*.swp
*~
*.o
*.out
/lib/random_data.c
.DS_Store
.gdb_history
/kern/payload.c
/kern/kernel.ld
/obj
/jos.in
/jos.log
/jos.out
/jos.out.*
/jos.cmd
/.gdbinit
/wget.log
/qemu.pcap
/qemu.pcap.*
/qemu.out
/qemu.log
/gradelib.pyc
/lab?-handin.tar.gz
/lab?/
/sol?/
/LoaderPkg/Binaries
/LoaderPkg/UDK
/LoaderPkg/ESP
/LoaderPkg/efibuild.sh
/LoaderPkg/mtoc-mac64.sha256
